* {
    box-sizing: border-box;
}

.outer-container {
    border: 2px solid green;
    height: 400px;
}

.inner-block {
    border: 2px solid red;
    width: 50px;
    height: 50px;
}

.grid-parent {
display: grid;
/* явна сетка */
/* grid */
/* px, %, vw, fr, minmax(320px, 800px) */
/* repeat (фыксована кылькысть чи автоматична (auto-fill/fit) ширина )*/
grid-template-columns: repeat(3, 100px) ;
grid-template-rows: repeat(2, 100px);

/* розташування елементыв вздовж осей всередини комирки*/
/* розташування елемент кожен в верх правому кути*/
justify-items: end;
align-items: start;

/*розташування комирок вздовж осей*/
justify-content: center;
align-content: center;
}


.grid-child {

}